@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: cornflowerblue;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie-card img {
    width: 100%;
}

.movie-info {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
    color: aliceblue;
}

.movie-info span {
    padding: 3px 6px;
    background-color: cornflowerblue;
}

.overview {
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bolder;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    max-height: 100%;
    overflow: auto;
}

.movie-card:hover .overview {
    transform: translateX(0);
}

.red {
    padding: 3px 6px;
    background-color: cornflowerblue;
    color: red;
}

.orange {
    padding: 3px 6px;
    background-color: cornflowerblue;
    color: orange;
}

.green{
    padding: 3px 6px;
    background-color: cornflowerblue;
    color: green;
}

.movie-info h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.search-bar {
    background-color: #373b69;
    padding: 2rem;
    display: flex;
    justify-content: end;
}

.search {
    padding: 1rem;
    width: 250px;
    background-color: transparent;
    border-radius: 50px;
    border-color: cornflowerblue;
    border-width: 3px;
    outline: none;
    color: #b3b3b3;
    font-size: 1em;
}